<!-- Navigation -->
<div class="my-4">
  <!-- <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a> -->
  <div class="row col-10 col-sm-12 mx-auto d-flex align-items-center">
    <div class="col-12 col-sm-4 col-lg-2 ml-auto">
      <a href="/"><img class="img-fluid" src="/img/choral_logo.png"></a>
    </div>
    <div class="col-12 col-sm-6 mr-auto">
      <p style="text-align: center; font-variant: small-caps;">
        a language for developing correct distributed and concurrent systems
      </p>
    </div>
  </div>
</div>
<!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  Menu
  <i class="fa fa-bars"></i>
</button> -->
<!-- <div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ "/posts" | relative_url }}">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
    </li>
  </ul>
</div> -->
</div>
