<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-5">
  <!-- <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a> -->
  <a class="col-2 navbar-brand" href="{{"/" | relative_url }}">
    <img style="max-width: 48px;" class="img-fluid" src="/img/choral_logo_small_border.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainMenu">
    <ul class="navbar-nav ml-auto">
      {% for item in site.menu %}
      <li class="nav-item">
        <a class="nav-link" href="/{{item | downcase }}.html">{{ item }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>