---
layout: default
title: Documentation
ancestor: Documentation
---

<!-- Menu -->
<div class="row">
  <div class="col-sm-12 d-sm-block d-md-none text-right align-middle">
    <a class="col-sm-3 text-decoration-none" data-toggle="collapse" href="#collapsibleMenu" role="button" aria-expanded="false" aria-controls="collapsibleMenu">
      <span class="align-middle">Menu</span>
      <span class="align-middle">
        <i style="font-size: 2em;" class="py-2 fas fa-compass"></i>
      </span>
    </a>
  </div>
  <div class="collapse d-md-none col-md-12" id="collapsibleMenu">
    {% include documentation_menu.html %}
  </div>
  <div class="d-none d-md-block col-md-2">
    {% include documentation_menu.html %}
  </div>
  <!-- Content -->
  <div class="col-sm-12 col-md-10 text-justify">
    {{ content }}
  </div>
</div>